
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>

<html>

    <meta charset="utf-8">
    <title>Nữ</title>

    <link rel="icon" type="~/image/x-icon" href="~/image/light-logo.png">
    <link href="~/css/nav.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <link href="~/css/women.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/~/css/font awesome.min.css">
    <link rel="stylesheet" href="~/css/chatbot.css" />



    <div class="main">
        <div class="main1">
            <button class="accordion">Hàng mới về</button>
            <div class="panel">
                <p><a href="#">Skyler Sweatset</a></p>
                <p><a href="#">Áo khoác Feria Parka</a></p>
                <p><a href="#">Áo khoác Maddy Parka</a></p>
                <p><a href="#">Áo thun Olivia Hoodie</a></p>
                <p><a href="#">View all</a></p>
            </div>

            <button class="accordion">Sản phẩm nữ</button>
            <div class="panel">
                <p><a href="#">Áo kiểu nữ</a></p>
                <p><a href="#">Áo thun nữ</a></p>
                <p><a href="#">Áo sơ mi nữ</a></p>
                <p><a href="#">Đầm nữ</a></li>
                <p><a href="#">Áo khoác nữ</a></p>
                <p><a href="#">Váy nữ</a></p>
                <p><a href="#">Quần shorts nữ</a></p>
                <p><a href="#">Quần dài nữ</a></p>
            </div>

            <button class="accordion">Bộ sưu tập</button>
            <div class="panel">
                <p><a href="#">Spring bouquet</a></p>
                <p><a href="#">Wanderlust #4</a></p>
            </div>
        </div>
        <div class="sapxep">
            <div class="sapxep1">
                <select class="sapxep1_2">
                    <option>Sắp xếp</option>
                    <option>Giá: Tăng dần</option>
                    <option>Giá: Giảm dần</option>
                    <option>Tên: A-Z</option>
                    <option>Tên: Z-A</option>
                    <option>Mới nhất</option>
                    <option>Cũ nhất</option>
                    <option>Bán chạy nhất</option>
                </select>
            </div>
        </div>
        <div class="main2">
            <div class="product-container">
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product1_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product2_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product3_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product4_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product5_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product6_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product7_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product8_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product1_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product2_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product3_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product4_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product5_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product6_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product7_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product8_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product1_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product2_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product3_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product4_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product5_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product6_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product7_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">

                        <a href="single_product.html"><img src="~/image/product8_1.jpg" class="product-thumb" alt=""></a>
                        <button class="card-btn">Thêm vào giỏ hàng</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Tên sản phẩm</h2>
                        <p class="product-short-des">Thông tin về sản phẩm..</p>
                        <span class="price">299.000đ</span><span class="actual-price">499.000đ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="pagination-container">
        <div class="pagination">
            <a href="#">Trang trước</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">Trang sau</a>
        </div>
    </div>

    <script src="~/js/scroll bar.js" language="javascript"></script>